<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usercenter.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.usercenter.bean.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="entry_date" jdbcType="DATE" property="entryDate" />
    <result column="salary" jdbcType="DOUBLE" property="salary" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.usercenter.bean.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="resume" jdbcType="LONGVARCHAR" property="resume" />
  </resultMap>

    <resultMap id="OtpCodeBaseResultMap" type="com.example.usercenter.dataobject.OptCodeDo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="otpCode" jdbcType="VARCHAR" property="otpCode"/>
        <result column="updateTime" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, email, phone, create_time, update_time
    </sql>

    <select id="userLogin" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from nbcb_user
        where phone = #{phone}
        and password = #{password}
    </select>

    <select id="userLoginByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from nbcb_user
        where phone = #{phone}
    </select>

    <select id="checkPhone" resultType="java.lang.Integer">
        select count(1) from nbcb_user
        where phone = #{phone}
    </select>

    <select id="getOtpCodeByPhone" resultMap="OtpCodeBaseResultMap">
        select phone, otpCode, updateTime
        from nbcb_otp
        where phone = #{phone}
        order by updateTime desc
        limit 1
    </select>

    <insert id="insertUser" parameterType="com.example.usercenter.dataobject.UserDo">
        insert into nbcb_user (phone, password)
        values(#{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>

    <insert id="insertOtpCode" parameterType="com.example.usercenter.dataobject.OptCodeDo">
        insert into nbcb_otp (phone, otpCode, updateTime)
        values(#{phone,jdbcType=VARCHAR}, #{otpCode,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
    </insert>

</mapper>